# NASA FIRMS API Key (get from https://firms.modaps.eosdis.nasa.gov/api/data_availability)
NASA_API_KEY=053f276c1d782855c7798d876a3c049f

# PostgreSQL Configuration
DB_USER=fireuser
DB_PASSWORD=firepass123
DB_NAME=forestfire
DB_HOST=localhost
DB_PORT=5433

# Server Port
PORT=3000

# Bhutan Bounding Box (Bhutan + 10km buffer)
BHUTAN_BBOX=88.4,26.4,92.6,28.6
